.dialogContent{
  margin-top: 20px;
  text-align: center;
}

.flexBox{
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.meterListDiv{
  border: 1px solid gray;
  border-radius: 6px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  overflow: auto;
  width: 300px;
}

.metersInList{
  margin: 8px;
  text-align: center;
}

.modalContent{
  max-width: 100%;
  min-height: 260px;
  position: relative;
  width: 450px;
}
