h4{
  opacity: .5;
}

hr{
  border-top: none;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 0;
}

img{
  display: block;
  margin: auto;
}

.buttonClose{
  align-self: flex-end;
  background-color: #777;
  border: 2px solid;
  border-radius: 6px;
  color: white;
  display: block;
  font-family: lato, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
  padding: .375rem .75rem;
  text-align: center;
  width: 75px;
}

.buttonClose:hover{
  cursor: pointer;
}

.buttonClose:focus{
  background-color: #666;
  border: 2px solid rgb(163, 163, 163);
}

.flexBox{
  display: flex;
  flex-direction: column;
}

.imgContainer{
  display: flex;
  height: 300px;
  overflow: hidden;
}

.imgRR4{
height: 100%;
}

.imgTR201{
  width: 75%;
}

.imgTR4{
  height: 300px;
  width: 70%;
}

.infoSVG{
  opacity: .5;
  width: 15px;
}

.meterName{
  font-family: lato, sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
}

.meterNotes {
  font-family: lato, sans-serif;
  font-weight: 300;
}

.meterNotes h4{
  font-weight: 400;
  margin-bottom: 0px;
}

.meterNotes p{
  margin-top: 5px;
}

.modalBody{
  background-color: white;
  box-shadow: 0 0px 18px 11px rgb(0 0 0 / 10%);
  border-radius: 10px;
  /* margin: -20px; */
  padding: 20px;
}

.meterSummary p{
  font-family: lato, sans-serif;
  font-weight: 300;
  margin-top: 0;
}

.modalContent{
  max-width: 100%;
  width: 450px;
}

/* Adjust size of wiring guide selector tabs */
:host ::ng-deep .mat-tab-label{
  font-family: lato, sans-serif;
  font-weight: 400;
  min-width: 50px;
}

/* Change color of selector tab underline */
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: rgb(92, 159, 232) !important;
}

/* Media Queries */
@media screen and (max-width: 500px){

  .imgRR4{
    width: 100%;
  }

  .imgTR4{
    width: 100%;
  }

}
