<div class="modalBody angularTheme">
  <div class="modalContent">

    <!-- Meter Name -->
    <h2 class="meterName">{{ meterData.meterName }}</h2>

    <!-- Human Readable Summary of Meter -->
    <div class="meterSummary">
      <p *ngIf="meterData.signalType === 'pulse'">This is a pulse-output meter</p>
      <p *ngIf="meterData.signalType === 'encoded'">
        This is an encoded meter. It uses the {{ meterData.wiringProtocol | titlecase }} protocol.</p>
      <p *ngIf="!meterData.compatibleTR201 && !meterData.compatibleTR4 && !meterData.compatibleRR4">
        This meter is not currently compatible with NextCentury</p>
      <p *ngIf="meterData.signalType === 'integrated' && (meterData.compatibleTR201 || meterData.compatibleTR4 ||
      meterData.compatibleRR4)">
        This meter has an integrated NextCentury Transceiver</p>
    </div>
    
    <!-- NextCentury Compatibility List/Images-->
    <div *ngIf="meterData.compatibleTR201 || meterData.compatibleTR4 || meterData.compatibleRR4">
      <mat-tab-group mat-align-tabs="start">

        <mat-tab *ngIf="meterData.compatibleTR201" label="TR201">
          <img src="assets/images/placeholderImage.jpeg" alt="">
        </mat-tab>

        <mat-tab *ngIf="meterData.compatibleTR4" label="TR4">
          <img src="assets/images/placeholderImage.jpeg" alt="">
        </mat-tab>

        <mat-tab *ngIf="meterData.compatibleRR4" label="RR4">
          <img src="assets/images/placeholderImage.jpeg" alt="">
        </mat-tab>

      </mat-tab-group>
    </div>
    
    <hr>
    
    <div *ngIf="meterData.notes" class="meterNotes">
      <h4>More Information</h4>
      <p>{{ meterData.notes }}</p>
    </div>
    <div class="flexBox">
      <button class="buttonClose" mat-dialog-close>Close</button>
    </div>
  </div>
</div>
