<div class="modalBody angularTheme">
  <div class="modalContent">

    <!-- Meter Name -->
    <h2 class="meterName">{{ meterData.meterName }}</h2>
    <!-- <p style="color: red">{{meterData.wiringProtocol | json}}</p> -->

    <!-- Human Readable Summary of Meter -->
    <div class="meterSummary">
      <p *ngIf="meterData.signalType === 'Pulse'">This is a pulse-output meter.</p>
      <p *ngIf="meterData.signalType === 'Encoded'">
        This is an encoded meter. It uses the {{ meterData.wiringProtocol | titlecase }} protocol.</p>
      <p *ngIf="!meterData.compatibleWith.TR201 && !meterData.compatibleWith.TR4 && !meterData.compatibleWith.RR4">
        This meter is not currently compatible with NextCentury.</p>
      <p *ngIf="meterData.signalType === 'Integrated' && (meterData.compatibleWith.TR201 || meterData.compatibleWith.TR4 ||
      meterData.compatibleWith.RR4)">
        This meter has an integrated NextCentury Transceiver.</p>
    </div>

    <!-- NextCentury Compatibility List/Images-->
    <div *ngIf="(meterData.compatibleWith.TR201 || meterData.compatibleWith.TR4 || meterData.compatibleWith.RR4) && meterData.signalType != 'Integrated'">
      <mat-tab-group mat-align-tabs="start">

        <mat-tab *ngIf="meterData.compatibleWith.TR201" label="TR201">
          <div class="imgContainer">
            <img src="assets/images/Wiring/TR201/Pulse.svg" alt="" class="imgTR201">
          </div>
        </mat-tab>

        <mat-tab *ngIf="meterData.compatibleWith.TR4" label="TR4">
          <div class="imgContainer">
            <img viewBox="0 0 100 100" *ngIf="meterData.wiringProtocol === 'Amco' || meterData.wiringProtocol === 'Elster'"
            class="imgTR4" src="assets/images/Wiring/TR4/Amco.svg" alt="wiring example image">

            <img *ngIf="meterData.wiringProtocol === 'Neptune'"
            class="imgTR4" src="assets/images/Wiring/TR4/Neptune.svg" alt="wiring example image">

            <img *ngIf="meterData.wiringProtocol === 'Pulse'"
            class="imgTR4" src="assets/images/Wiring/TR4/Pulse.svg" alt="wiring example image">

            <img *ngIf="meterData.wiringProtocol === 'Sensus' || meterData.wiringProtocol === 'GWF'"
            class="imgTR4" src="assets/images/Wiring/TR4/Sensus.svg" alt="wiring example image">
          </div>
        </mat-tab>

        <mat-tab *ngIf="meterData.compatibleWith.RR4" label="RR4">
          <div class="imgContainer">
            <img *ngIf="meterData.wiringProtocol === 'Amco' || meterData.wiringProtocol === 'Elster'"
            class="imgRR4" src="assets/images/Wiring/RR4/AmcoCropped.svg" alt="wiring example image">

            <img *ngIf="meterData.wiringProtocol === 'Neptune'"
            class="imgRR4" src="assets/images/Wiring/RR4/NeptuneCropped.svg" alt="wiring example image">

            <img *ngIf="meterData.wiringProtocol === 'Pulse'"
            class="imgRR4" src="assets/images/Wiring/RR4/PulseCropped.svg" alt="wiring example image">

            <img *ngIf="meterData.wiringProtocol === 'Sensus' || meterData.wiringProtocol === 'GWF'"
            class="imgRR4" src="assets/images/Wiring/RR4/SensusCropped.svg" alt="wiring example image">
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>

    <hr>

    <div *ngIf="meterData.publicNotes" class="meterNotes">
      <h4>More Information</h4>
      <!-- <img class="infoSVG" src="assets/icons/help.svg" alt=""> -->
      <p>{{ meterData.publicNotes }}</p>
    </div>
    <div class="flexBox">
      <button class="buttonClose" mat-dialog-close>Close</button>
    </div>
  </div>
</div>
