.filterContainer{
  display: flex;
  height: 100%;
  margin-right: 5px;
  position: relative;
  width: 110px;
}

.icon{
  font-size: 1.12rem;
}

.iconDiv{
  align-self: center;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}
