<!-- Create New / Edit Existing -->
<div class="divContainer angularTheme">
  <div class="divBody">

    <label for="radioSelections">I would like to...</label>
    <!-- Radio Button Options -->
    <mat-radio-group [(ngModel)]="radioSelection" ria-labelledby="radioSelections" class="radioSelectionsGroup">
      <mat-radio-button class="radioButtons flexColumn" *ngFor="let option of radioOptions" [value]="option">
        {{option}}
      </mat-radio-button>
    </mat-radio-group>

    <img class="nameKeyImage" src="./assets/images/nameKey.png" alt="">

    <div class="flexColumn">
      <button (click)="onClickNext()" [disabled]="radioSelection == ''" class="button">Next</button>
    </div>

  </div>
</div>
