.alignRight{
  align-self: flex-end;
}

.button{
  background-color: #777;
  border: 2px solid;
  border-radius: 6px;
  color: white;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 20px;
  padding: .375rem .75rem;
  text-align: center;
  width: 75px;
}

.button:hover{
  cursor: pointer;
}

.button:focus{
  background-color: #666;
  border: 2px solid rgb(163, 163, 163);
}

.buttonAdd{
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: .9rem;
  width: 125px;
}

.buttonAdd:focus{
  background-color: rgb(255, 255, 255);
  border: 1px solid #3f51b5;
  color: #3f51b5;
}

.buttonAdd:focus img{
  filter: invert(34%) sepia(87%) saturate(527%) hue-rotate(193deg) brightness(84%) contrast(97%);
}

.buttonAdd img{
  margin-bottom: -5px;
  margin-left: -6px;
  position: relative;
  width: 20px;
}

.buttonRemove{
  background-color: white;
  border: 1px solid rgb(255, 108, 108);
  color: rgb(255, 108, 108);
  display: inline-block;
  font-size: .9rem;
  margin-left: 25px;
  width: 125px;
}

.buttonRemove:focus{
  background-color: rgb(255, 255, 255);
  border: 1px solid red;
  color: red;
}

.buttonRemove:focus img{
  filter: invert(23%) sepia(72%) saturate(5730%) hue-rotate(353deg) brightness(101%) contrast(130%);
}

.buttonRemove img{
  filter: invert(59%) sepia(100%) saturate(2525%) hue-rotate(322deg) brightness(113%) contrast(108%);
  margin-bottom: -5px;
  margin-left: -6px;
  position: relative;
  transform: rotate(45deg);
  width: 20px;
}

.divBody{
  margin: 30px;
}

.divContainer{
  background-color: rgba(255, 255, 255);
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(000, 000, 000, .08);
  height: fit-content;
  margin: auto;
  margin-top: 35px;
  max-width: 700px;
  overflow: auto;
  width: 80vw;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.helpIcon{
  height: 15px;
  margin-right: 5px;
  margin-top: 1px;
  opacity: .5;
}


/* Remove Angular dropdown outline */
.imageDropdown{
  box-shadow: none !important;
}

.imageDropdown mat-expansion-panel-header{
  margin-top: 20px;
  padding-left: 0;
  width: fit-content;
}

.nameKeyImage{
  border: 1px solid #999;
  border-radius: 5px;
  display: block;
  margin: auto;
  max-width: 450px;
  width: 100%;
}

.radioButtons{
  margin: 20px 20px;
  width: 50%;
}

.tileTitle{
  font-family: sans-serif;
  font-weight: 100;
  margin-bottom: 35px;
}

/* Remove padding from image dropdown body */
:host ::ng-deep .mat-expansion-panel-body {
  padding: 2px !important;
}
