.container{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

/* .container:hover{
    cursor: pointer;
} */

/* .dropdownCaret{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: inline-block;
    height: 8px;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 8px;
} */

.itemBody{
    background: #eff;
    border-radius: 12px;
    margin-top: 10px;
    min-height: 150px;
    position: relative;
}

.itemClusterDiv{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    max-width: 950px;
    padding: 20px 10px;
}

.itemContainer{
    max-width: 950px;
    margin: auto;
}

.itemHeader{
    display: inline-block;
    font-family: sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}

.itemTableDiv{
    padding: 10px;
}

.underlineDivider{
    background-color: black;
    border: 0;
    height: 1px;
    margin-left: 23px;
    margin-top: 5px;
    width: 85%;
}

/* test */