<div class="itemClusterDiv">
    <div  *ngFor="let meter of meterDataWater; index as i">
        <div class="itemContainer">
            <mat-accordion  (click)="onMeterItemClick(i)">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="itemDropdownHeader">
                        <mat-panel-title>
                            <h3 class="itemHeader">{{meter.manufacturer}}</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="itemBody">
                        <div class="itemTableDiv">
                            <!-- Meter Model Category Names -->
                            <p class="meterModelText" *ngIf= "meter.series && meter.series.seriesModel" >Models: {{ meter.series.seriesModel }}</p>
                            <!-- Individual Meter Models -->
                            <div *ngIf="meter.series">
                                <div *ngFor="let model of meter.series.meters; index as e">
                                    <p>{{model}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <hr [ngStyle]="{'opacity': (dropdownOpen[i] !== true) ? '1' : '0'}" class="underlineDivider">
            <!-- <hr *ngIf="dropdownOpen[i] !== true" class="underlineDivider"> -->
        </div>
    </div>
</div>