.container{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

.container:hover{
    cursor: pointer;
}

.dropdownCaret{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: inline-block;
    height: 8px;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 8px;
}

.itemContainer{
    max-width: 740px;
    margin: auto;
}

.itemDropdownHeader{
    padding: 0 25px;
}

.itemHeader:after{
    border-bottom: solid black 1px;
}

.itemHeader{
    display: inline-block;
    font-family: sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}

.underlineDivider{
    background-color: black;
    border: 0;
    height: 1px;
    margin-left: 25px;
    margin-top: 5px;
    width: 85%;
}

/* test */