input{
    background-color: transparent;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0px 0px 0px rgb(255 255 255 / 0%);
    color: black;
    font-family: lato, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.15;
    padding-left: 10px;
    transition: box-shadow 0.3s linear;
    width: 100%;
}

/* remove outline from text box when active */
input:focus{
    box-shadow: 0 1px 1px 9px rgb(255 255 255 / 30%);
    outline: none;


}

.searchBarDiv{
    background: white;
    border-radius: 5px;
    display: flex;
    height: 40px;
    margin: auto;
    max-width: 600px;
}

.searchBarDiv:focus {
}
