<!-- #########################################################
                     Select Manufacturer
######################################################### -->
<div *ngIf="!showEditDiv" class="divBody">
  <h3 class="tileTitle">Edit/Delete a Meter Manufacturer</h3>

  <!-- Select Utility Type of Manufacturer -->
  <mat-form-field class="dropdownOptions">
    <mat-label>Utility Type</mat-label>
    <mat-select (selectionChange)="onUtilityType($event)">
      <mat-option *ngFor="let utilityTypeOption of utilityTypeOptions;" value={{utilityTypeOption}}>{{utilityTypeOption}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Select Existing Manufacturer -->
  <form>
    <mat-form-field>
      <mat-label>Manufacturer Name</mat-label>
      <input type="text" placeholder="" aria-label="Number"
             matInput [formControl]="selectedManufacturerName" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredDropdownOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>


  <!-- Show/Hide Reference Image -->
  <app-help-dropdown></app-help-dropdown>

  <!-- Button Back & Next -->
  <div class="flexRow spaceBetween">
    <button (click)="onReturnHome()" class="button">Back</button>
    <button (click)="onClickNext()" [disabled]="!canClickNext" [ngStyle]="{'opacity': (!canClickNext? .5 : 1)}" class="button">Next</button>
  </div>
</div>

<!-- #########################################################
                    Edit Manufacturer
######################################################### -->
<div *ngIf="showEditDiv" class="divBody">
  <h3 class="tileTitle">Edit/Delete a Meter Manufacturer</h3>

  <form (ngSubmit)="onSubmit(f.value)" #f="ngForm" (keyup)="onKeyUp()">

    <!-- Manufacturer Name -->
    <mat-form-field>
      <mat-label>Manufacturer Name</mat-label>
      <input class="underlineDirty" type="text" aria-label="Number"
             matInput name="editManufacturerName"
             [ngModel]="manufacturerData.manufacturer">
    </mat-form-field>

    <!-- Utility Type -->
    <mat-form-field>
      <mat-label>Utility Type</mat-label>
      <mat-select class="underlineDirty" name="editUtilityType" [ngModel]="manufacturerData.utilityType">
        <mat-option *ngFor="let utilityTypeOption of utilityTypeOptions;" value={{utilityTypeOption}}>{{utilityTypeOption}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Sections -->
    <div *ngFor="let section of manufacturerData.sections; index as i" ngModelGroup="manufacturerSection">
      <!-- Don't populate sections with "deleted = true" -->
      <div *ngIf="!section.deleted">
        <!-- Series Name -->
        <mat-form-field>
          <mat-label>Series</mat-label>
          <input class="underlineDirty" type="text" aria-label="Number"
          matInput name="editSeriesName.{{i}}" [ngModel]="section.seriesName">
        </mat-form-field>
        <!-- Models Name -->
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input class="underlineDirty" type="text" aria-label="Number"
          matInput name="editModelsName.{{i}}" [ngModel]="section.modelsName">
        </mat-form-field>
        <!-- Delete Button -->
        <button class="trashIcon" type="button" (click)="onDeleteSection($event)" name="section.{{i}}">
          <img src="./assets/icons/trashBlack.svg" alt="">
        </button>
      </div>
    </div>
    <p *ngIf="showSeriesModelNameMissingText" class="helperText">*Both fields cannot be empty.</p>
    <!-- New Section Button -->
    <span class="flexRow">
      <button type="button" [disabled]="showSeriesModelNameMissingText" (click)="onNewSection()" class="button buttonAdd">
        <img src="./assets/icons/plusBlack.svg" alt=""> Add Section
      </button>
    <!-- Delete Manufacturer Button -->
    <button type="button" (click)="onDeleteManufacturer()" class="button buttonRemove" [style]="'width: 158px'" >Delete Manufacturer</button>
    </span>
    <!-- Show/Hide Reference Image -->
    <app-help-dropdown></app-help-dropdown>

    <!-- Button Back & Save -->
    <div class="flexRow spaceBetween">
      <button (click)="onCancel()" class="button">Cancel</button>
      <button type="submit" [disabled]="!formIsValid" [ngStyle]="{'opacity': (!formIsValid? .5 : 1)}" class="button">Save</button>
    </div>
  </form>
