<div class="divBody">
  <h3 class="tileTitle">Edit/Delete a Meter Manufacturer</h3>

  <!-- Select Utility Type of Manufacturer -->
  <mat-form-field class="dropdownOptions">
    <mat-label>Utility Type</mat-label>
    <mat-select (selectionChange)="onUtilityType($event)">
      <mat-option *ngFor="let utilityTypeOption of utilityTypeOptions;" value={{utilityTypeOption}}>{{utilityTypeOption}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Select Existing Manufacturer -->
  <form class="manufacturerDropdown">
    <mat-form-field>
      <mat-label>Manufacturer Name</mat-label>
      <input type="text"
             placeholder=""
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>


  <!-- Show/Hide Reference Image -->
  <app-help-dropdown></app-help-dropdown>

  <!-- Button Back -->
  <div class="flexRow">
    <button (click)="onReturnHome()" class="button">Back</button>
  </div>
</div>
