.body{
    background: linear-gradient(to right,#054E82 0%,#0badcf 100%);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100vw;
}

.content{
    padding: 0 15px;

}

.itemClusterDiv{
  background-color: white;
  border-radius: 4px;
  box-shadow: 3px 3px 6px rgb(0, 0, 0, .2);
  margin: auto;
  max-width: 950px;
  overflow: auto;
  padding: 0 10px 20px 10px;
  height: 65vh;
}

.itemClusterDiv::-webkit-scrollbar{
  display: none;
}

.itemContainer{
  max-width: 950px;
  margin: auto;
}

.topDiv{
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, .2);
    height: fit-content;
    max-width: 938px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 80px;
    padding: 35px 15px;
}

.utilityHeader{
  background: linear-gradient(to bottom, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0) 100%);

  font-family: lato, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  padding: 15px 5px 10px;
  z-index: 100;
}

/* Media Queries */

/* ~iPhone X and smaller */
@media screen and (max-width: 500px){

    .topDiv{
        margin-top: 40px;
    }

}
