<div class="body">
    <div class="content">
      <div class="topDiv">
        <app-page-title></app-page-title>
        <app-search-bar></app-search-bar>
      </div>
      <div class="itemClusterDiv">

        <!-- Water -->
        <div *ngIf="mainService.activeFilter == 'Water'">
          <p class="utilityHeader"><i class="icon icon-all-water" style="color: rgb(62, 137, 191);"></i> Water</p>
          <div class="itemContainer" *ngFor="let item of (meterData | filterMeters:searchBarText); index as i">
              <app-meter-dropdown-item *ngIf="item.utilityType == 'Water'" [item]="item" [i]="i"></app-meter-dropdown-item>
          </div>
        </div>

        <!-- Gas -->
        <div *ngIf="mainService.activeFilter == 'Gas'">
          <p class="utilityHeader"><i class="icon icon-gas" style="color: rgb(123, 193, 71);"></i> Gas</p>
          <div class="itemContainer" *ngFor="let item of (meterData | filterMeters:searchBarText); index as i">
              <app-meter-dropdown-item *ngIf="item.utilityType == 'Gas'" [item]="item" [i]="i"></app-meter-dropdown-item>
          </div>
        </div>

        <!-- Electric -->
        <div *ngIf="mainService.activeFilter == 'Electric'">
          <p class="utilityHeader"><i class="icon icon-electric" style="color: rgb(234, 223, 89);"></i> Electric</p>
          <div class="itemContainer" *ngFor="let item of (meterData | filterMeters:searchBarText); index as i">
              <app-meter-dropdown-item *ngIf="item.utilityType == 'Electric'" [item]="item" [i]="i"></app-meter-dropdown-item>
          </div>
        </div>
      </div>
    </div>
  </div>
