.body{
  background: linear-gradient(to right,#054E82 0%,#0badcf 100%);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100vw;
}

.underlineTouched.ng-touched{
  border-bottom: 2px solid #6bcc6b;
  margin-bottom: -2px;
}
