.body{
  background: linear-gradient(to right,#054E82 0%,#0badcf 100%);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100vw;
}

.trashIcon{
  background: none;
  border: none;
}

.trashIcon:hover{
  cursor: pointer;
}

.trashIcon img{
  filter: invert(86%) sepia(6%) saturate(6673%) hue-rotate(303deg) brightness(103%) contrast(92%);
  pointer-events: none;
}

/* .underlineDirty.ng-dirty{
  border-bottom: 2px solid #65c8da;
  margin-bottom: -2px;
} */
